# config.toml example
[[gateway]]

    [gateway.irc]
    # Listen address
    ListenAddr = ":6667"

    # Message of the Day
    MOTD = """
    haha !sux sonzai x"""

    [gateway.slack]
    # Slack client token
    Token = ""
    # Time in seconds since the last thread reply to trigger quoting of the original message
    # Set to 0 to disable original message quoting entirely
    ThreadQuoteIntervalSec = 0

# Multiple gateway sections can be specified for multiple workspaces
[[gateway]]
    [gateway.irc]
    ListenAddr = ":6668"

    [gateway.slack]
    Token = ""